.navbar{
  background-color:white;
  display:flex;
  justify-content: space-around;
  align-items: center;

}
span{
  color:#E96479;
}
.logo{
  padding-left: 20px;
}
ul{
  list-style-type: none;
  display:flex;

}

ul li a{
  text-decoration: none;
  color:black;
  padding-left: 20px;
  display: inline-block;
}
ul li a::after{
  content: '';
  display:block;
  height: 3px;
  width: 0;
  background-color: #E96479;
  transition: all 0.5s;
}
ul li a:hover::after{
  width: 100%;


}
header{
  background-color:#ffff;
  height: 600px;
  display:flex;
  justify-content: space-around;
  align-items: center;
 
}
header h3{
  color:#FF7777;
  font-family: 'Shantell Sans', cursive;
font-size: 80px;
}
header h4{
  font-family: 'Shantell Sans', cursive;
  color: #000;

}
header h4 span{
  font-family: 'Shantell Sans', cursive;
  color: #eb5b5b;

}
header h4:hover{
  font-family: 'Shantell Sans', cursive;
  color: #e26262;

}
header h4 span:hover{
  font-family: 'Shantell Sans', cursive;
  color: #0a0a0a;

}


.btn{
  background-color:#FF7777;
  color:whitesmoke;
}
/*section{
  background-image: url(components/images/vas.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
 min-height:600px;
}*/

section{
  height: 400px;
}
.container{
 border-radius: 25px;
 height: 300px;
 background:linear-gradient(#FF7777,#FF7777,#f7aeae);
 align-content: center;
 padding:50px;
}
.container p{
  font-size: 20px;
  font-display: center;
  font-feature-settings: "abvf";
}
.container span {
  color:white;
}
section h3{
  color:#FF7777;
  font-family: 'Shantell Sans', cursive;
font-size: 50px;
margin-left: 50px;
}
.card{
  padding-left: 10px;
}
main{
  min-height: 400px;

}




.wrapper{
  height: 550px;
  display: flex;
  justify-content: space-around;

}
.items-image img {
  height: 400px;
}
.text{
  padding: 50px ;
  border: #45a049;
}
.card{
  width: 15rem; 
  margin:0 50px;
  position: relative;
  animation-name: move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes move {
  0% {
    left: 0;
  }
  100% {
    left: 200px;
  }
}






.section{
  height: 200px;
 
}
.item-card{
  display: flex;
  justify-content: space-between;
  align-content: center;
border-color: none;
}
.card-body img{
  max-height: 10rem;
  max-width:12rem;
}
footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  background-color: #E96479;
  font-size: 14px;
  color: #333;
}

.contact-form {
  flex-basis: 50%;
}

.contact-form h3 {
  margin-top: 0;
}

.contact-form input,
.contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.5;
}

.contact-form button[type="submit"] {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.social-media-icons {
  flex-basis: 30%;
}

.social-media-icons h3 {
  margin-top: 0;
}

.social-media-icons ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  display: inline-flex;
  font-size: 40px;
  align-items: center;
}

.social-media-icons li {
  margin: 0;
}

.social-media-icons a {
  color: #333;
  padding-left: 20px;
}

.social-media-icons a:hover {
  color: #666;
}

.social-media-icons .fa-facebook:hover {
  color: #3b5998;
}

.social-media-icons .fa-linkedin:hover {
  color: #0077b5;
}

.social-media-icons .fa-instagram:hover {
  color: #e1306c;
}

.social-media-icons .i{
  font-size: 60px;
}

@media only screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
  
  .contact-form,
  .social-media-icons {
    flex-basis: 100%;
  }
}
